// Заголовки, общие БЄМ блоки и проче...

.page {
    &__main {
    }
    &__partners {
    }
    &__how {
    }
    &__pathway {
    }
    &__why {
    }
    &__reviews {
    }
    &__download {
    }
}
// ========================================================================
.title {
    transition: all 0.3s ease 0s;
    font-weight: 600;
    font-size: rem(70);
    line-height: math.div(65, 70);
    color: #fff;
    @include adaptiveValue("font-size", 70, 45);
    span {
        color: $greenColor;
    }
    &_s64 {
        @include adaptiveValue("font-size", 64, 40);
    }
    &_s56 {
        @include adaptiveValue("font-size", 56, 35);
    }
}
// ========================================================================
.text {
    transition: all 0.3s ease 0s;
    line-height: 180%;
}

html.light .title {
    color: #263238;
}

html.light .text {
    color: #263238;
}
// ========================================================================

.ripple {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);

    animation:button-circle 3s ease forwards;
}

@keyframes button-circle {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(20);
        opacity: 0;
    }
}

//========================================================================
.image-block {
    display: flex;
    align-self: start;
    border-radius: rem(20);
    overflow: hidden;
    background: rgba(255, 255, 255, 0.05);
    @include adaptiveValue("padding-top", 165, 30);
    @include adaptiveValue("padding-bottom", 165, 30);
    @include adaptiveValue("padding-left", 45, 30);
    @include adaptiveValue("padding-right", 45, 30);
    position: relative;
    &__circle {
        position: absolute;
        top: 0;
        right: 0;
        @include adaptiveValue("width", 585, 350);
        @include adaptiveValue("height", 585, 350);
        &::before{
            content:'';
            position: absolute;
            border-radius: 50%;
            border: 1px solid #fff;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        &_1 {
            &::before{
                transform: translate(calc(50% - rem(18)), -20%);
            }
        }
        &_2 {
            &::before{
                transform: translate(calc(50% - rem(20)), -6%);
            }
        }
    }
    &__item {
        text-align: center;
        flex: 1 1 100%;
        position: relative;
        z-index: 2;
        img {
            max-width: 100%;
            border-radius: rem(20);
        }
    }
}

html.light .image-block {
    background: rgba(0, 128, 0, 0.05);
    &__circle {
        &::before{
            border: 1px solid #008000;
        }
    }
}
// ========================================================================
.theme {
    position: relative;
    display: flex;
}

.theme__change {
    flex: 0 0 rem(24);
    width: rem(24);
    height: rem(24);
}

html.dark .theme__change {
    background: url('../img/theme/light.png') 0 0 / 100% no-repeat;
}

html.light .theme__change {
    background: url('../img/theme/dark.png') 0 0 / 100% no-repeat;
}

.theme__reset {
    position: relative;
    opacity: 0;
    visibility: hidden;
}

.theme__reset.active {
    opacity: 1;
    visibility: visible;
}

.theme__reset::before {
    content: 'x';
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    font-size: 13px;
    border-radius: 50%;
    line-height: 16px;
    color: #fff;
    text-align: center;
    background-color: #666;
}